{% extends 'base.html' %} {% block content %}

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ route.name }}</span>
    <p>Name: {{ route.name }}</p>
    <p>Mode: {{ route.mode_of_transport }}</p>
    <p>Distance: {{ route.travel_distance }}</p>
    <p>Travel Time: {{route.travel_time }}</p>
    <p>Starting Location: {{route.city}}, {{route.state}}, {{route.country}}</p>
    <p>Description: {{route.description}}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'routes_update' route.id %}">Edit Route</a>
    <a href="{% url 'routes_delete' route.id %}">Delete</a>
  </div>
</div>

{% endblock content %}
