{% extends 'base.html' %}



{% block content %}

<div class='row'>

    {% if favorites %}
        {% for favorite in favorites %}

        <a href="{% url 'detail' favorite.route.id %}">
            <div class="card">
            <div class="card-content">
                <span class="card-title">{{ favorite.name }}</span>
                <p>Name: {{ favorite.route.name }}</p>
                <p>Starting Location: {{favorite.route.city}}, {{favorite.route.state}}, {{favorite.route.country}}</p>
            </div>
            </div>
            </a>
        {% endfor %}
    {% else %}
        <h1>No matching routes were found</h1>
     
    {% endif %}

</div>

{% endblock content %}