{% extends 'base.html' %} 
{% block content %}

<h1>Search for routes</h1>

<form action="{% url 'search_index' %}" method="GET" class="card-panel">
    {% csrf_token %}
    <br><br>
    <label for="country">Country:</label>
    <input type="text" name='country'>
    <label for="state">State:</label>
    <input type="text" name='state'>
    <label for="city">City:</label>
    <input type="text" name='city'>
    <br><br>
    <input type="submit" class="btn" value="Search Routes">
</form>


{% endblock %}