{% extends 'base.html' %} {% block content %} <br>

{% if routes %}
<div class="row">
  {% for route in routes %}
  <div class="col s12 card">        
    <a id="details" href="{% url 'detail' route.id %}">
      <div class="card">
        <div class="col s6 ">
          <div class="card-content">      
            <span class="card-title">{{ route.name }}
            {% if route.mode_of_transport == 'B' %}
            <i class="material-icons">directions_bike</i>
            {% else %}
            <i class="material-icons">directions_run</i>
            {% endif %}
            </span>
            <p>{{route.city}}, {{route.state}}, {{route.country}}</p>
            <p>Created By: {{ route.user.username }}</p>
          </div>
        </div>
        <div class="col s6 center-align">
          <img class="responsive-img index-img" src="{{ route.photo_set.first.url }}" />
        </div>
      </div>
    </div></a>
   {% endfor %}
   </div>
   {% else %}
      <h1>No matching routes were found</h1>
      <a class='btn' href="{% url 'routes_create' %}">Create New Route</a>
    {% endif %}



<div class='row'>

    <h2>Search other routes</h2>

    <form action="{% url 'search_index' %}" method="GET" class="card-panel">
        {% csrf_token %}
        <br><br>
        <label for="country">Country:</label>
        <input type="text" name='country'>
        <label for="state">State:</label>
        <input type="text" name='state'>
        <label for="city">City:</label>
        <input type="text" name='city'>
        <br><br>
        <input type="submit" class="btn" value="Search Routes">
    </form>

</div>
    

{% endblock content %}
    
