{% extends 'base.html' %}



{% block content %}

<div class='row'>

    {% if routes %}
        {% for route in routes %}
        <a href="{% url 'detail' route.id %}">
            <div class="card">
            <div class="card-content">
                <div class="card-content">
                    <span class="card-title">{{ route.name }}
                      {% if route.mode_of_transport == 'B' %}
                      <i class="material-icons">directions_bike</i>
                      {% else %}
                      <i class="material-icons">directions_run</i>
                      {% endif %}
                    </span>
          
          
                    <p>{{route.city}}, {{route.state}}, {{route.country}}</p>
          
                    <img class="responsive-img" src="{{ route.photo_set.first.url }}" />
            </a>
</div>
</div>
</div>
        {% endfor %}
    {% else %}
        <h1>No matching routes were found</h1>
        <a class='btn' href="{% url 'routes_create' %}">Create New Route</a>
    {% endif %}

</div>

<div class='row'>

    <h2>Search other routes</h2>

    <form action="{% url 'search_index' %}" method="GET" class="card-panel">
        {% csrf_token %}
        <br><br>
        <label for="country">Country:</label>
        <input type="text" name='country'>
        <label for="state">State:</label>
        <input type="text" name='state'>
        <label for="city">City:</label>
        <input type="text" name='city'>
        <br><br>
        <input type="submit" class="btn" value="Search Routes">
    </form>

</div>
    

{% endblock content %}
    
